.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .header {
    grid-row: 1;
  }
  
  .main {
    grid-row: 2;
    text-align: center;
    padding: 20px;
  }
  
  .footer {
    grid-row: 3;
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
h1 {
  background-color: #f5f5f5;
}
body {
  background-image: url(/Fase3/fondo.jpg)
}



